/* bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css");

/* cards carousel
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"); */

/* fontawesome library */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* import custom font */
@font-face {
  font-family: "recoletaregular_demo";
  src: url("../fonts/recoleta-regulardemo-webfont.woff2") format("woff2"),
    url("../fonts/recoleta-regulardemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HellixRegular";
  src: url("../fonts/Hellix-Regular.woff") format("woff"),
    url("../fonts/Hellix-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* global css  */
:root {
  --primary-color: #004a44;
  --secondary-color: #f9d783;
  --black-color: #111111;
  --grey-color: #474a59;
  --white-color: #ffffff;

  --heading-fontfamily: "recoletaregular_demo";
  --sub-heading-fontfamily: "HellixRegular";
}

/* primary button */
.primarybutton {
  margin-left: 10px;
  background: var(--secondary-color);
  white-space: nowrap;
  padding: 10px 15px;
}

.secondarybutton {
  background: var(--primary-color);
  color: var(--white-color);
  font-family: var(--sub-heading-fontfamily);
}

/* body css */
body {
  font-family: var(--sub-heading-fontfamily);
}

/* header */
.class-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar-brand-div {
  font-family: var(--heading-fontfamily);
}

.navbar-brand-div .navbar-brand {
  font-size: 42px;
  font-weight: 800;
}


#navbarNav .nav-item .nav-link {
  font-size: 15px;
  font-weight: bolder;
  color: var(--black-color);
  font-family: var(--sub-heading-fontfamily);
}

#navbarNav .nav-item .nav-link:hover {
  color: var(--primary-color);
}

/* cart  */
.cart {
  position: relative;
}

.cart-item {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: -5px;
  right: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Custom Css */
.hero-section {
  background: #fbf3eb;
  height: 1000px;
}

.nutrition-div {
  padding-top: 16%;
}

.nutriton-text {
  color: var(--primary-color);
}

.nutrition-div-des {
  font-family: var(--heading-fontfamily);
  font-size: 85px;
  font-weight: bolder;
  line-height: 110%;
}

.section-hero-center {
  margin-top: 32%;
  padding-left: 10%;
}

.hero-section-image-reviewsdiv {
  height: 75px;
  width: 250px;
  background: var(--white-color);
  margin-left: 700px;
  border-radius: 5px;
  bottom: -30px;
  right: -20px;
}



.hero-section-review-star {
  top: -35px;
  right: 0px;
}

.hero-section-customer-dp {
  width: 50px;
  height: 50px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: -25px;

}

.hero-section-customer-dp-overlap {
  left: 35px;
  top: 0px;
}

.hero-seciton-bottom-left-div {
  height: 295px;
  width: auto;
  position: relative;
}

.hero-seciton-bottom-left-div img {
  max-width: 100%;
  max-height: 100%;
}

.hero-seciton-left-div-glutenfree {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fad883;
  position: absolute;
  top: 21px;
  right: -32px;
  /* padding-bottom: 10px; */

}


.hero-seciton-bottom-center-div {
  margin-top: 168px;
  padding-left: 0px;
}

.hero-seciton-bottom-center-div .col {
  padding: 33px 0px;
}

.hero-seciton-bottom-center-div-rec {
  margin-top: 175px;
  height: 165px;
  width: 5px;
  background: #feb987;
  padding-right: 0px;

}


.hero-seciton-bottom-right-div {
  margin-top: 220px;
  padding-left: 129px;

}

.logos-section {
  margin-top: 50px;
}

.logos-section-featured {
  font-family: var(--heading-fontfamily);
}

.section-description-heading {
  font-family: var(--heading-fontfamily);
  font-size: 40px;
  font-weight: 900;
  width: 500px;
  margin-top: 30px;
  text-align: center;
}

.section-description-cards-one {
  width: 300px;
  height: 400px;
  background: #e4f2ec;
}

.section-description-cards-two {
  width: 300px;
  height: 400px;
  background: #eff7f9;
}

.section-description-cards-three {
  width: 300px;
  height: 400px;
  background: #fbf3eb;
}

.section-description-cards-four {
  width: 300px;
  height: 400px;
  background: #e4f2ec;
}

.section-description-cards-top {
  width: 80px;
  height: 80px;
  background: white;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-goal-description {
  font-family: var(--heading-fontfamily);
  font-size: 40px;
  font-weight: bold;

}

.section-bestSelling {
  background: #fbf3eb;
  margin-top: 50px;
  padding-top: 50px;
  height: 1000px;
}

.section-bestSelling-title {
  font-family: var(--heading-fontfamily);
  font-size: 50px;
  font-weight: 800;
  width: 400px;
  text-wrap: wrap;
}

.section-bestSelling-buttons {
  /* background: #004a44; */
}

.section-bestSelling-buttons:hover {
  background: #004a44;
  color: #fbf3eb;
}


.home-demo {
  margin-top: 40px;
}

.home-demo .item {
  background: white;
}

.home-demo h2 {
  color: #FFF;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}

.item-fav-heart-shape {
  right: 40px;
  top: 30px;
}

.item-container {
  background: #fbf3eb;
  width: 370px;
  margin: 20px 0px;
  padding-bottom: 60px;
}

.img-container {
  margin-top: 30px;
  width: 250px;
  height: 300px;
  /* background: red; */
}

.img-fit {

  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.section-reviewrewards {
  height: 600px;
  padding-top: 100px;
}

.section-rewards-heading {
  font-family: var(--heading-fontfamily);
  font-size: 50px;
  font-weight: 900;
}

.section-rewards-heading-8000 {
  color: var(--primary-color);
}

.carousel-inner {
  margin-top: 10px;
  overflow: visible !important;
}

.carousel-item {
  height: 320px;
  padding-top: 100px;
}

.section-reviewrewards .carousel-control-prev-icon {
  background: var(--primary-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -63px;
}

.section-reviewrewards .carousel-control-next-icon {
  background: var(--primary-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 13px;
}

.section-reviewrewards-customer-dp {
  width: 100px;
  height: 100px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: -25px;
  position: absolute;
  top: -70px;
  left: 25px;
  z-index: 14;

}

.section-reviews-quotation-icon {
  color: #f9e2c9;
  top: 0;
  right: 20px;
}

.section-reviews-quotation-desc {
  font-size: large;
  font-weight: 800;
  font-family: var(--heading-fontfamily);
}

.section-inspirations {
  height: 1000px;
  background: #eef9ff;
}

.section-inspirations .card {
  height: 600px;
}

.section-inspirations-heading {
  font-size: 60px;
  font-weight: 800;
  font-family: var(--heading-fontfamily);
}

.section-inspirations .card-text {
  font-family: var(--heading-fontfamily);
  font-size: 30px;
  font-weight: bold;
}

.section-inspirations .read-more {
  color: var(--primary-color);
  font-size: 18px;
}

.section-instagram {
  height: 1200px;
}